/* General */

body
{
    font-family: 'lato', sans-serif;
    
}

h1,h2,h3,h4,h5,h6
{
    
    font-weight: bold;
}
h1
{
    font-size: 30px;
    margin-left: 10px;
    font-family: 'lato', sans-serif;
}
h5
{
    text-align: left;
}
.thumbnail
{
    height: 300px;
    width: 200px;
    background-color: #B7AC7E;
    font-family: 'lato', sans-serif;
}
#solo
{
    height: 300px;
    width: 100%;
    background-color: #B7AC7E;
    font-family: 'lato', sans-serif;
}
#solo img
{
    height:290px;
    width:450px;
}
#duo
{
    height: 300px;
    width: 100%;
    background-color: #B7AC7E;
    font-family: 'lato', sans-serif;
}
#duo img
{
    height:200px;
    width:200px;
}
#cuatro img
{
    height:130px;
    width:300px;
}
.row
{
    margin-top: 10px;
    margin-left: 10px;
}
    
section .heading h2
{
    text-transform: uppercase;
}
.red-divider
{
    width:100px;
    height:2px;
    background:#d82c2e;
    margin:10px auto;
}
.black-divider
{
    width:400px;
    height:2px;
    background:black;
    margin: auto;
}
ul,ol
{
    list-style: none;
}
#about
{
    padding:20px 0 0px 0;
    text-align: center;
    background: url(../images/BckMrGeor.jpg) no-repeat;
    width:100%;
    height: 560px;
}
#index
{
    padding:20px 0px 0px 0px;
    text-align: center;
    background: url(../images/BckMrGeor.jpg) no-repeat;
    width:100%;
    height: 560px;
}
.profile-picture
{
    text-align: center;
    display: inline-block;
    float: none;
}
#about .heading h1
{
    color: #fff;
    text-transform: uppercase;
}
#about .heading h3
{
    color:#000;
}
.buttonIn
{
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
    color: white;
    border: 1px solid white;
    display: inline-block;
    margin-top: 30px;
    padding: 18px 50px;
    border-radius: 3px;
    transition: all 0.3s ease-in 0s;
}
.buttonIn:hover
{
    background: white;
    color: #B7AC7E;
    text-decoration: none;
}

.button1
{
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
    color: white;
    border: 1px solid white;
    display: inline-block;
    margin-top: 5px;
    padding: 18px 50px;
    border-radius: 3px;
    transition: all 0.3s ease-in 0s;
}
.button1:hover
{
    background: white;
    color: #B7AC7E;
    text-decoration: none;
}
.button2
{
    font-weight: bold;
    text-transform: uppercase;
    color: white;
    background-color: #B7AC7E;
    border: 1px solid white;
    display: inline-block;
    margin: 15px 5px 5px 5px;
    padding: 18px 40px;
    border-radius: 3px;
    transition: all 0.3s ease-in 0s;
    text-align: center;
}
.button2:hover
{
    background: white;
    color: #B7AC7E;
    text-decoration: none;
}
.btn
{
    color: white;
}
/*Skills*/
#skills
{
    background: #fff;
}
#skills .heading h2
{
    color:#d82c2e;
}
#skills .progress
{
    height: 15%;
    margin: 30px 5px;
    background: #ddd;
}
#skills .progress-bar
{
    background : #d82c2e;
}
#skills .progress h5
{
    text-shadow: 1px 1px 1px #000;
}
/*Education*/
#education
{
    background: white;
}
#education .heading h2
{
    color: #d82c2e;
}
.education-block
{
    width:80%;
    margin: 0 auto;
    text-align: center;
    padding: 30px;
    background:#ddd;
    border-radius: 10px;
    border: 2px solid #ccc;
    margin-bottom: 20px;
}
.education-block h5
{
    color: #888;
    font-size: 15px;
    margin-bottom: 15px;
}
.education-block h3
{
     color: #d82c2e;
}
.education-block h4
{
    margin-bottom: 20px;
}
.education-block p
{
    font-weight: bold;
}

/*Protfolio*/
#portfolio
{
     background: #d82c2e;
}
#portfolio .heading h2
{
    color:#fff;
}
#portfolio .img-thumbnail img
{
    width:100%;
    height: 100%;
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
}
#portfolio .img-thumbnail img:hover
{
    filter: none;
    -webkit-filter: none;
}
/*footer*/
footer
{
    background-color : white;
    padding: 0px 0 20px;
    position: relative;
    height: 30px;
    width: 100%;
    text-align: center;
    display: inline-block;
}
/*popup*/
#grayBack 
{
     position: fixed;
     top: 0;
     left: 0;
     width: 100%;
     height: 100%;
     background-color: black;
     z-index: 1999;
     opacity: 0.5;
}
#customPopup 
{
    position: absolute;
     display: none;
     left: 50%;
     top: 50%;
     z-index: 2000;
     padding: 20px;
     width: 560px;
     background-color: #EEEEEE;
     font-size: 12px;
     line-height: 16px;
     color: #202020;
     border : 3px outset #555555;
}

